<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">   

	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
	<title>SafeTravel</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
	  <nav class="pure-menu pure-menu-horizontal ">
      <div class="cen">
      <a  href="/members"><img src="image/sf-logo.png"  alt="SafeTravel logo"></a>
      </div>
               
        {{!-- <div class="container-fluid">
          <div class="navbar-header">
            <h2>Safe Travel</h2>
            <a class="navbar-brand" href="/logout">
              Logout | 
            </a>
            <a class="navbar-brand" href="/wishlist">
              Wish List
            </a>
          </div>
        </div> --}}
    </nav>
		<div class="container-md ml-2 pl-2">

		{{{ body }}}
  </div>

	</body>
</html>
