<div class="pure-menu pure-menu-horizontal bar">
<ul style="display:flex; justify-content:center">
    <li class="item"><a href="/signup">Home</a></li>
    <li class="item"><a href="/wishlist">Wish List</a></li>
    <li class="item"><a href="/logout">Logout</a></li>
</ul>
</div>
<div class="container-fluid p-0">
  <div class="row col-md-12" style="margin: auto" >
    <div class="row" >
      <h4 style="margin-left:100px; text-align: center; margin-top:20px; color:#0078E7">Welcome <span class="member-name"></span>!</h4>
    </div>
    <div class="row">
          <div class="col-md-5">
            <form class="form-box2">
              {{!-- <div class="form-city"> --}}
              <label for="safeCity"><h6 style="font-weight:bold">How safe is the city?</h6></label>
              <select name="cities" id="city-input">
               <option value="Bangalore">Bangalore, India</option>
               <option value="Barcelona Spain">Barcelona, Spain</option>
               <option value="Berlin">Berlin, Germany</option>
               <option value="Dallas">Dallas, Texas</option
               <option value="London">London, United Kingdom</option>
               <option value="New York">New York, USA</option>
               <option value="San Fransisco">San Fransisco, USA</option>
              </select>
              <input class="pure-button pure-button-primary btn1" id="submit" type="submit" value="Submit">
            </form>
         </div>

      <div class="col-md-6 m-10 p-0 form-box2">
              <div class="row">
            <h6 style="font-weight:bold;margin-left:35px; margin-top:20px">Destination Safety Ratings</h6>
              </div>
              <div class="row">
            <div class="col-md-4 vheight">
              <h6 style="font-weight:bold;margin-left:20px;">City Name</h6>
              <div class="cityname" id="city-name"></div>
            </div>
            <div class="col-md-7 vheight">
              <h6 style="font-weight:bold;">Safety Score</h6>
              <div id="city-safety-score"></div>
            </div>
            </div>
            <div class="row pure-u-1-2">
              <button type="submit" class="pure-button pure-button-primary btn" id="save-btn">Add to wish list</button>
            </div>
      </div>
    </div>
    <div class="col-md-6 legend">
<p>
<strong>Saftery Score Legend</strong>
<br />
<strong>Women</strong>
Likelihood of inappropriate behavior against females. Score go from 1 (not likely) to 100 (very likely).
<br />
<strong>Physical Harm</strong>
Likelihood of injury due to harmful intent. Score go from 1 (not likely) to 100 (very likely).
<br />
<strong>Theft</strong>
Likelihood of theft. Score go from 1 (not likely) to 100 (very likely).
<br />
<strong>Political Freedom</strong>
Potential for infringement of political rights or political unrest. Score go from 1 (not likely) to 100 (very likely).
<br />
<strong>LGBTQ</strong>
Likelihood of harm or discrimination against LGBTQ persons or groups and level of caution required at location. Score go from 1 (not likely) to 100 (very likely).
<br />
<strong>Medical</strong>
Likelihood of illness or disease, assessment of water and air quality, and access to reliable medical care. Score go from 1 (not likely) to 100 (very likely).
<br />
<strong>Overall</strong>
An average of the above 6 categories. Score go from 1 (very safe) to 100 (very dangerous).
</p>
<br />
    </div>
  </div>
</div>

  {{!-- <script>
    $(document).ready(function() {
       $(document).foundation();
    });
 </script> --}}
  <script type="text/javascript" src="js/members.js"></script>