 {{!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2 class="cen" style="text-align: center">Safe Travel</h2>
      </div>
    </div>
  </nav> --}}
  <div class="nav"></div>
  <div class="container">
    <div class="row ">
      <div class="col-md-10">
        <section><h4>Want to find the safety rating for a city you want to travel? Sign up or login to find the safety score of the city</h4></section>
        <div class="col-md-8">
        
        <form class="pure-form pure-form-stacked form-box">
          <h4>Sign Up</h4>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <div class="pure-u-1-2">
          <button type="submit" class="pure-button pure-button-primary">Sign Up</button>
          </div>
        </form>
        <br />
        <p>Or log in <a href="/login">here</a></p>
       </div> 
      </div>
    </div>
  </div>

    <script type="text/javascript" src="js/signup.js"></script>
