{{!-- <nav class="navbar navbar-light bar">  
</nav> --}}
<div class="pure-menu pure-menu-horizontal bar">
<ul style="display:flex; justify-content:center">
    <li class="item"><a href="/signup">Home</a></li>
        <li class="item"><a href="/login">Login</a></li>
</ul>
</div>
<div class="container">
  <div class="row ">
    <div class="col-md-8 col-md-offset-3">
        <section><h6 class="signup-text">Want to find the safety rating for a city you want to travel?
          <br />
        Sign up or login to find the safety score of the city</h6></section>
      <div class="col-md-10">
        
        <form class="signup pure-form pure-form-stacked form-box1">
          <h5>Sign Up</h5>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <div class="pure-u-1-2">
          <button type="submit" class="pure-button pure-button-primary">Sign Up</button>
          <p>Already Signed up? Then <a href="/login">LogIn </a></p>
          </div>
        </form>
        <br />
        </div> 

      </div>
    <div class="card col-md-4">
      <img class="imgtop" src="image/golden-gate.png" alt="Golden gate bridge" style="width:100%">
      <div class="container">
        <h4><b>About</b></h4> 
        <p>SafeTravel is an application that finds the safety score of a given destination and allows the user to save it in a wish list as a future travel destination. This app allows the user to view the wish list in the Wish List page. The user has to create an account to use the app. </p> 
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/signup.js"></script>
