form.signup,
form.city,
form.login {
  margin-top: 50px;
}

h2.cen {
  text-align: center;
}

#ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
.vheight
{
height: 200px;
}
