form.signup,
form.city,
form.login {
  margin-top: 50px;
}
.cityname{
  margin-left:20px;
  margin-top: 15px;
}

.form-box1 {
  margin-top:25px;
  margin-bottom:50px;
  padding: 20px;
  border-radius: 25px;
  border: solid;
  border-color: #0078E7;
}

.form-box2 {
  margin-top:75px;
  margin-bottom:50px;
  padding: 20px;
  border-radius: 25px;
  border: solid;
  border-color: #0078E7;
}

.wishlist{
  position: absolute;
  top: 35%;
  left: 35%;
  margin-top: -25px;
  margin-left: -25px;
}


.cen {
  /*justify-content: center;
   margin: auto; */
  /* align-items: center; */
  display: block;
   text-align: center;
  /*font-size: l50px; */
}

h5.cen{
  text-align: center;
}

h2{
  padding-top: 15px;
}


.selected{
    background-color:#f3b666;
}

label{
  font-size: 15px;
  font-weight: bold;
}

.wl-li{
  margin: auto;
  padding: auto;
  
}

.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
.vheight
{
height: 200px;
}
.center {
  margin-left: 550px;
  text-align: center;
 }

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0078E7;
  text-align: center;
}

.bar{
  background-color: #0078E7;
  height: 50px;
  margin-bottom: 10px;
}

.item {
  display: inline;
}
.item a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
.item a:hover {
  background-color: #f3b666;
  color: white;
  text-decoration: none;
}

.btn{
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.btn1{
  margin-top: 10px; 
 }
 .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 85px;
  margin-bottom: 160px;
 }

 .card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 45px;
  margin-bottom: 160px;
  margin-left: 150px;
 }

 .imgtop{
   margin-top: 8px;
 }